body{
    font-family: Arial, sans-serif;
    background-color: #f0e4d7;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 3px solid black;
}
.logo {
    display: flex;
    align-items: left;
}

.logo img {
    width: 70px;
    height: auto;
    margin-right: 15px;
}

header h1 {
    font-size: 44px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
main {
    padding: 20px;
    text-align: center;
}

.intro {
    margin-top: 30px;
}

.intro img {
    width: 100%;
    width: 900px;
    height: 600px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.intro p {
    font-size: 55px;
    color: black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

logo{
    width: 300px;
    height: 200px;
}
.container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex: 1;
    max-width: 50%;
    margin-right: 20px;
}
.text-container{
    flex: 1;
    text-align: center;
    max-width: 50%;
    overflow: hidden;
    word-wrap: break-word;
    margin-left: auto;
    margin-top: -660px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.container img{
    width: 100%;
    height: auto;
}
#historical{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}