body{
    font-family: Arial, sans-serif;
    background-color: #f0e4d7;
    margin: 0;
    padding: 0;

}
header{
        background-color: #f8f9fa;
    border-bottom: 3px solid purple;
    display: flex;
    justify-content: space-between
    padding: 20px 40px;
}
header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
main {
    padding: 20px;
    text-align: center;
}

.intro {
    margin-top: 30px;
}

.intro img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}