body{
    font-family: Arial, sans-serif;
    background-color: #f0e4d7;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 3px solid black;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 15px;
    justify-content: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
main {
    padding: 20px;
    text-align: center;
}

.intro {
    margin-top: 30px;
}

.intro img {
    width: 100%;
    width: 900px;
    height: 600px;
    margin-bottom: 20px;
    
}

.intro p {
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

logo{
    width: 300px;
    height: 200px;
}

